{% extends 'base.html' %}
{% block title %}Available Courses{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold text-white mb-8">📘 Our Courses</h1>

{% if user.is_staff or user.role == 'Admin' or user.role == 'Instructor' %}
<div class="mb-6">
    <a href="{% url 'course-create' %}"
        class="inline-block bg-blue-600 text-white px-5 py-2 rounded-lg shadow hover:bg-blue-700 transition">
        ➕ Create a Course
    </a>
</div>
{% endif %}

{% if courses %}
<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {% for course in courses %}
    <div onclick="window.location.href='{% url 'course-detail' course.pk %}'"
        class="cursor-pointer bg-[#1e293b] text-white rounded-xl shadow-md hover:shadow-xl hover:scale-[1.02] transition-all p-4 border border-gray-700 flex flex-col justify-between">
        <div>
            {% if course.image %}
            <img src="{{ course.image.url }}" alt="{{ course.title }}" class="rounded-lg mb-4 h-40 w-full object-cover">
            {% else %}
            <div
                class="rounded-lg mb-4 h-40 w-full bg-gradient-to-br from-blue-600 to-purple-600 flex items-center justify-center">
                <span class="text-6xl">📚</span>
            </div>
            {% endif %}
            <h2 class="text-lg font-semibold text-blue-300 mb-1 hover:underline">{{ course.title }}</h2>
            <p class="text-sm text-gray-300 mb-4">{{ course.description|slice:":50" }}{% if course.description|length >
                50 %}...{% endif %}</p>
        </div>
        <div class="mt-auto items-center text-sm">
            {% if user.is_staff or user.role == 'Admin' or course.instructor == user %}
            <div class="space-x-2">
                <a href="{% url 'course-update' course.pk %}" class="text-yellow-400 hover:text-yellow-200">✏️ Edit</a>
                <a href="{% url 'course-delete' course.pk %}" class="text-red-400 hover:text-red-200">🗑️ Delete</a>
            </div>
            {% elif user.role == 'Student' %}
            {% if course.id in enrolled_course_ids %}
            <a href="{% url 'module-list-by-course' course.id %}"
                class="bg-blue-700 hover:bg-blue-800 text-white text-center font-semibold px-4 py-2 rounded-lg mt-2 inline-block transition w-full">
                ➡️ Continue
            </a>
            {% else %}
            <form action="{% url 'enroll' course.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                    class="bg-green-600 hover:bg-green-700 text-white font-semibold px-4 py-2 rounded-lg mt-2 transition w-full">
                    🎓 Enroll to this course
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-gray-300">No courses available at the moment.</p>
{% endif %}
{% endblock %}