{% extends 'base.html' %}
{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<div class="bg-[#1e293b] text-white rounded-xl shadow-lg border border-gray-700 overflow-hidden p-6">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">

        <!-- IMAGE À GAUCHE -->
        <div>
            {% if course.image %}
            <img src="{{ course.image.url }}" alt="{{ course.title }}"
                class="w-full h-auto rounded-lg shadow-md object-cover">
            {% else %}
            <img src="" alt="Course image" class="w-full h-auto rounded-lg shadow-md object-cover">
            {% endif %}
        </div>

        <!-- CONTENU À DROITE -->
        <div>
            <h1 class="text-4xl font-extrabold text-blue-700 mb-4">{{ course.title }}</h1>

            {% if user.is_authenticated %}
            <div class="flex flex-wrap gap-4 mb-6">
                {% if user.is_staff or user.role == 'Admin' or course.instructor == user %}
                <a href="{% url 'course-update' course.pk %}"
                    class="bg-yellow-500 text-white px-5 py-2 rounded-lg hover:bg-yellow-600 transition font-medium">
                    <i class="fas fa-edit mr-1"></i> Modifier
                </a>
                <a href="{% url 'course-delete' course.pk %}"
                    class="bg-red-700 text-white px-5 py-2 rounded-lg hover:bg-red-600 transition font-medium">
                    <i class="fas fa-trash mr-1"></i> Supprimer
                </a>
                {% elif user.role == 'Student' %}
                {% if already_enrolled %}
                <p class="text-green-600 font-semibold mb-2"><i class="fas fa-check-circle mr-1"></i> Déjà inscrit</p>
                <a href="{% url 'module-list-by-course' course.pk %}"
                    class="inline-block bg-blue-800 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-lg transition">
                    <i class="fas fa-arrow-right mr-1"></i> Continuer
                </a>

                <form action="{% url 'unenroll' course.pk %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit"
                        class="bg-red-600 hover:bg-red-700 text-white font-semibold px-4 py-2 rounded-lg transition">
                        <i class="fas fa-times-circle mr-1"></i> Se désinscrire
                    </button>
                </form>
                {% else %}

                <form action="{% url 'enroll' course.pk %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit"
                        class="bg-green-800 hover:bg-green-500 text-white font-semibold px-4 py-2 rounded-lg transition">
                        <i class="fas fa-graduation-cap mr-1"></i> S'inscrire à ce cours
                    </button>
                </form>
                {% endif %}
                {% endif %}
            </div>

            {% endif %}
        </div>
    </div>
    <div class="bg-gray-800 rounded-lg p-5 mt-4 shadow-inner border border-gray-700">
        <h2 class="text-2xl font-semibold text-blue-200 mb-3">Description</h2>
        <p class="text-gray-300 mb-6 max-w-full break-words whitespace-pre-wrap">
            {{ course.description }}
        </p>
    </div>
    <div class="bg-gray-800 rounded-lg p-5 mt-4 shadow-inner border border-gray-700">
        <h2 class="text-2xl font-semibold text-blue-200 mb-3"><i class="fas fa-book mr-2"></i>Contenu du cours</h2>
        <a href="{% url 'module-list-by-course' course.id %}" class="text-white hover:text-yellow-200 ">
            <h3 class="text-xl font-semibold mb-4"><i class="fas fa-folder mr-2"></i>Modules</h3>
        </a>
        <ul class="space-y-2">
            {% for module in modules %}
            <li>
                <a href="{% url 'module-list-by-course' course.id %}?module_id={{ module.id }}"
                    class="block p-2 rounded-md hover:bg-gray-700 {% if module == selected_module %}bg-gray-700{% endif %}">
                    {{ module.title }}
                </a>
            </li>
            {% empty %}
            <li class="text-gray-400 italic">Aucun module pour ce cours pour l'instant.</li>
            {% endfor %}
        </ul>
        {% if user.is_staff or user.role == 'Admin' or course.instructor == user %}
        <div class="mt-6">
            <a href="{% url 'module-create' course.id %}"
                class="block bg-blue-800 text-white text-center px-4 py-2 rounded-md hover:bg-blue-700 transition">
                <i class="fas fa-plus mr-1"></i> Ajouter un module
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
