{% extends 'base.html' %}
{% block title %}Supprimer la ressource: {{ object.title }}{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto mt-20 bg-[#F2EFE4] text-[#312B1E] p-8 rounded-xl shadow-lg border border-[#C5B8A8]">
    <h1 class="text-3xl font-bold text-[#8B4513] mb-6"><i class="fas fa-exclamation-triangle mr-2"></i>Confirmer la
        suppression</h1>

    <p class="mb-6 text-[#505039]">
        Êtes-vous sûr de vouloir supprimer la ressource <span class="font-semibold text-[#7C6B51]">{{ object.title
            }}</span> ?
        <span class="text-[#8B4513] font-bold">Cette action est irréversible.</span>
    </p>

    <form method="POST" class="flex gap-4">
        {% csrf_token %}
        <button type="submit"
            class="bg-[#8B4513] hover:bg-[#6B3410] text-white font-semibold px-6 py-2 rounded-lg transition flex items-center gap-2">
            <i class="fas fa-trash"></i> Supprimer
        </button>
        <a href="{% url 'module-list-by-course' course.id %}?module_id={{ module.id }}"
            class="bg-[#C5B8A8] hover:bg-[#A7AA63] text-[#312B1E] hover:text-white font-semibold px-6 py-2 rounded-lg transition text-center">
            Annuler
        </a>
    </form>
</div>
{% endblock %}